/* COLORS
Navy: #394a6d;
Moss Green: #3c9d9b;
Green: #52de97;
Light Green: #c0ffb3;
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px  */
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#fff 20%, #3c9d9b);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*******************************
          FONTS
*******************************/

.interstate-bold{
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.interstate-light{
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.interstate-extra-light{
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*******************************
          LANDING PAGE
*******************************/

.landing__Container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing__Video {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.landing__Video-Content {
  width: 100%;
  height: 99.9%;
  object-fit: cover;
  border-radius: 5px;
  z-index: 1;
}

/* .landing__Video-Overlay {
  position: fixed;
  height: 40%;
  width: 81%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  z-index: 1;
} */

.landing__Logo {
  height: 20%;
  width: 50%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 5;
  position: absolute;
  bottom: 10%;
}

.landing__SearchBox {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
  margin-top: 5px;
}

.landing__Search-Top {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing__SearchBox-Start,
.landing__SearchBox-End {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.landing__SearchBox-Title {
  font-size: 3.5rem;
}

.landing__SearchBox-Value {
  outline: none;
  width: 100%;
  height: 30%;
  font-size: 2rem;
  padding: 2rem;
  border: none;
  border-bottom: 2px solid #000000;
  transition: all 0.2s;
}

.landing__SearchBox-Value:focus,
.landing__SearchBox-Value:valid {
  border-bottom: 2px solid #52de97;
}

.landing__Search-Bottom {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__SearchBox-Go {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animationFadeIn {
  animation: fadeIn linear 2s;
}

/*******************************
            MAP
*******************************/

.logo{
  text-align: left;
  font-size: 3.5rem;
  text-shadow: 1px 1px 1px #394a6d;
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom:5px;

}
.map__Container{
  position: relative;
  width:90%;
  height:90%;
}
#map{
  border: 4px solid #394a6d;
  border-radius:10px;
  width:100%;
  height:100%;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.map__Overlay{
  z-index: 101;
  position: absolute;
  margin-top:1.5%;
  left:1%;
  background-color:rgb(100, 100, 100, .4);
  border-radius: 15px;
  height:95%;
  width:20%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.stops{
  margin-top:2%;
  color:white;
  font-size:2.75rem;
  font-family: navigo, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.overlay__Card{
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:2rem;
  margin: auto;
  margin-top: 15px;
  margin-bottom:10px;
  width:85%;
  height:75px;
  border-radius:5px;
  background-color:#394a6d;
  color:white;
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
  /* transition: .1s ease; */

}
.overlay__Card.__Button{
  cursor: pointer;
  color:white;
  background-color:rgba(60, 157, 155, 0.7);
}
.overlay__Card.confirm{
  background-color: rgba(60, 157, 155, 1);
}
.overlay__Card:hover{
  transform: scale(1.05);
}
.card__Container{
  /* display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  width:100%;
  height:78%;
  overflow-y: scroll;
}
.overlay__Card input[type='text']{
  height:100%;
  width:80%;
  background:none;
  border:none;
  font-size:2rem;
  color:white;
  border-bottom:1px solid white;
}
.overlay__Card input::placeholder{
  color:rgb(200, 200, 200);
}

.overlay__Card button{
  color:white;
  padding:5px;
  background:none;
  border:none;
}
/* .overlay__Card form{
  height:100%;
  width:100%;
}
.overlay__Card .title{
  height:100%;
  width:100%;
} */

/*******************************
          PLACES
*******************************/

.places__Container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.places__LogoContainer {
  height: 5%;
  width: 95%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 3rem;
}

.places__FilterContainer {
  height: 10%;
  width: 90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.places__FilterButtons {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #394a6d; */
  border-radius: 5px;
}

.places__FilterWeather {
  height: 100%;
  width: 65%;
  border: 2px solid #3c9d9b;
  border-radius: 5px;
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.places__FilterWeather-Current {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.places__FilterWeather-Today,
.places__FilterWeather-Logo {
  height: 100%;
  width: 15%;
  font-size: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.places__ListContainer {
  height: 75%;
  width: 90%;

  opacity: 0.8;
  background-color: #fff;
  border: 2px solid #394a6d;
  border-radius: 5px;
  overflow: auto;
}

.places__ListItem {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.places__ListItem-Name {
  height: 100%;
  width: 50%;
  font-size: 5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.places__ListItem-Address {
  height: 100%;
  width:  20%;
  font-size: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.places__ListItem-Rating {
  height: 100%;
  width: 20%;
  font-size: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.places__Confirm {
  height: 5%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************
          BUTTONS
*******************************/

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  transform: translateY(-0.5rem) scale(1.1);
  box-shadow: 0 1rem 2rem rbga(#000, 0.5);
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}

.btn:active {
  outline: none;
  transform: translateY(0px) scale(1);
  box-shadow: 0 0.5rem 1rem rbga(#000, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn--white {
  background-color:  #394a6d;
  color: #fff;
}
.btn--white::after {
  background-color:  #394a6d;
  color: #fff;
}

.btn--green {
  background-color: #52de97;
  color: #fff;
}
.btn--green::after {
  background-color: #52de97;
}

/*******************************
          ANIMATION
*******************************/
.indicatorScroll {
  animation: scroll 12s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
